
    <div class="right__container-right">
      <div class="inner-container-right">
        <h2>{{ titleRight }}</h2>

        <h3> {{ h3Sub }}</h3>

        <p>{{ paraGraph }} </p>

        <h3>{{ h3Title }}</h3>

        <!-- ICONS -->
        <div class="icon-container">
          <img class="icon" width="48" height="48" src="/assets/icons.PNG" alt="play-station--v1"/>

        </div>

        <button><a href="https://www.cyberpunk.net/br/en/">{{ buttonLink}} </a></button>

        <p class="end">{{endPara}}</p>
      </div>

    </div>

