
    <div class="right__container-right">
      <div class="inner-container-right">
        <h2>ORDER.NOW</h2>

        <h3> OVER 200 AWARDS</h3>

        <p>
          Cyberpunk 2077 is an open-world, action-adventure storu set in Night City, a megalopolis obsessed with power, glamour and body modifiction.
        </p>

        <h3>SELECT.YOUR.PLATFORM:</h3>

        <!-- ICONS -->
        <div class="icon-container">
          <img class="icon" width="48" height="48" src="/assets/icons.PNG" alt="play-station--v1"/>

        </div>

        <button><a>PRE.ORDER.NOW</a></button>

        <p class="end">COMING DECEMBER 10TH, 2020</p>
      </div>

    </div>

